.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.belowDescription {
  font-size: 8px;
  font-style: italic;
}

.btn_area {
  position: relative;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

.banner {
  background-color: #39438d;
  color: #ffffff;
  text-align: center;
  padding: 2px;
}

.banner h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
  padding: 0;
}

.banner_text {
  font-size: 13px;
}

.logo_image {
  width: 250px;
  object-fit: cover;
}

.arraymiddle {
  display: inline;
  justify-content: right;
}

/* 현재역 표현 */
.rounded_rec {
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  width: 150px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  user-select: none;
}

/* 이전역, 다음역 표현 */
.circle {
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  user-select: none;
}

/* 역 호선에 따라 색상 다르게 처리 */
.line-text {
  font-size: 18px;
  color: black;
  margin: 10px;
}
.line-1 {
  border: 10px solid #0052a4;
}
.line-2 {
  border: 10px solid #00a84d;
}
.line-3 {
  border: 10px solid #ef7c1c;
}
.line-4 {
  border: 10px solid #00a5de;
}
.line-5 {
  border: 10px solid #996cac;
}
.line-6 {
  border: 10px solid #cd7c2f;
}
.line-7 {
  border: 10px solid #747f00;
}
.line-8 {
  border: 10px solid #e6186c;
}
.line-9 {
  border: 10px solid #bdb092;
}

.ComponentBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.BoxOutline {
  border: 1px solid #acacac;
}
