.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.belowDescription {
  font-size: 8px;
  font-style: italic;
}

.btn_area {
  position: relative;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

.banner {
  background-color: #39438d;
  color: #ffffff;
  text-align: center;
  padding: 2px;
}

.banner h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
  padding: 0;
}

.banner_text {
  font-size: 13px;
}


.logo_image {
  width: 250px;
  object-fit: cover;
}

.arraymiddle {
  display: inline;
  justify-content: right;
}

.rounded_rec {
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  width: 150px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.circle {
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.line-text {
  font-size: 18px;
  color: black;
  margin: 10px;
}
.line-1 {
  border: 10px solid #0052A4;
}
.line-2 {
  border: 10px solid #00A84D;
}
.line-3 {
  border: 10px solid #EF7C1C;
}
.line-4 {
  border: 10px solid #00A5DE;
}
.line-5 {
  border: 10px solid #996CAC;
}
.line-6 {
  border: 10px solid #CD7C2F;
}
.line-7 {
  border: 10px solid #747F00;
}
.line-8 {
  border: 10px solid #E6186C;
}
.line-9 {
  border: 10px solid #BDB092;
}